<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="problema_2.Properties.Settings.cartaConnectionString"
            connectionString="Data Source=hikarinohakate.database.windows.net;Initial Catalog=carta;Persist Security Info=True;User ID=alfredo60fil;Password=%25AD@Q4$%255134#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>